<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Manga Connect</h1>
      <h2>La communauté des passionnés de mangas papier !</h2>
      <p>Vendez ou échangez vos mangas à travers toute la France d'un simple clic.</p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      {{#if article}}
        {{#each article}}
        <div class="col-md-4 article">
          <h2>{{title}}</h2>
          {{{content}}}
          <p>publié par <a href="">{{author}}</a>, le {{formatDate}}</p>
          <p><a class="btn btn-secondary" href="/articles/single/{{_id}}" role="button">View details &raquo;</a></p>
        </div>
        {{/each}}
      {{else}}
      <div class="col-md-12 article">
        <p>Aucun article n'a été publié pour l'instant ... Soyez le premier !</p>
      </div>
      {{/if}}
    </div>

    <hr>

  </div> <!-- /container -->
</main>