<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Manga Connect</h1>
            <p>Vendez ou échangez vos mangas à travers toute la France d'un simple clic.</p>
            <h2>Ma boite de messagerie privée</h2>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12 article">
            {{#if mp}}
                {{#each mp}}
                <article class="mpListItem">
                    <h2><a href="/mp/display/{{_id}}" {{#if read}}class="text-secondary"{{else}}class="text-primary"{{/if}}>{{title}}</a></h2>
                    <p class="artFoot">Message de <a href="/users/profile/{{authorId}}">{{author}}</a> pour <a href="/users/profile/{{destId}}">{{dest}}</a> , le {{formatDate}}</p>
                </article>
                {{/each}}
            {{else}}
                <p>Pas de messages pour l'instant !</p>
            {{/if}}
            </div>
        </div>