<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Manga Connect</h1>
      <h2>Page personnelle de {{usr.userName}}</h2>
      <p>Toutes les annonces de {{usr.userName}} sont ici !</p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="profile col-md-12">
        <div class="profileHead">
          <img src="/images/logos/user_circle.png" alt="logo" />
          <h3>{{usr.userName}}</h3>
        </div>
        <div class="userDataBlock">
         <p>Âge : {{#if usr.age}}{{usr.age}} ans{{else}}Non renseigné{{/if}}</p>
         <p>Localité : {{#if usr.locate}}{{usr.locate}}{{else}}Non renseigné{{/if}}</p>
        </div>
        <p class="registerDate">Date d'inscription : {{usr.registerDate}} <br />Statut : {{#if userIsAdmin}}<span class="badge badge-danger">Admin</span>{{else}}{{#if userIsBanned}}<span class="badge badge-secondary">Banni</span>{{else}}<span class="badge badge-primary">Membre</span>{{/if}}{{/if}}</p>

          <div class="adminButtons">
            <a class="btn btn-secondary mpButton" href="/mp/add/{{usr._id}}" role="button">Message Privé &raquo;</a>
            {{#if isOwner}}
            <a class="btn btn-secondary mpButton" href="/users/profile/edit/{{user}}" role="button">Modifier Profil &raquo;</a>
            {{else}}
              {{#if admin}}
              <p><a class="btn btn-secondary adminEditBtn" href="/users/profile/edit/{{usr._id}}" role="button">Modifier Profil &raquo;</a></p>
                {{#if userIsBanned}}
                <p><a class="btn btn-secondary adminDelBtn" href="/members/unban/{{usr._id}}">Amnistier &raquo;</a></p>
                {{else}}
                <p><a class="btn btn-secondary adminDelBtn" href="/ban/form/{{usr._id}}">Bannir &raquo;</a></p>
                  {{#if userIsAdmin}}
                  <p><a class="btn btn-secondary adminDelBtn" href="/admins/delete/{{usr._id}}">Révoquer des admins &raquo;</a></p>
                  {{else}}
                  <p><a class="btn btn-secondary adminEditBtn" href="/admins/add/{{usr._id}}">Définir en tant qu'admin &raquo;</a></p>
                  {{/if}}
                {{/if}}
              {{/if}}
            {{/if}}
          </div>
      </div>
      {{#if article}}
        {{#each article}}
        <div class="col-md-4 article">
          <h2>{{title}}</h2>
          {{{content}}}
          <p>publié par <a href="">{{author}}</a>, le {{formatDate}}</p>
          <p>
            <a class="btn btn-secondary" href="/articles/single/{{_id}}" role="button">Détails &raquo;</a>
            {{#if ../isOwner}}
            <a class="btn btn-secondary" href="/articles/edit/{{_id}}" role="button">Modifier &raquo;</a>
            <a class="btn btn-secondary" href="/articles/delete/{{_id}}" role="button">Supprimer &raquo;</a>
            {{else}}{{#if ../admin}}
            <a class="btn btn-secondary adminEditBtn" href="/articles/edit/{{_id}}" role="button">Modérer &raquo;</a>
            <a class="btn btn-secondary adminDelBtn" href="/articles/delete/{{_id}}" role="button">Supprimer &raquo;</a>
            {{/if}}
            {{/if}}
          </p>
        </div>
        {{/each}}
      {{else}}
      <div class="col-md-12 article">
        <p>{{usr.userName}} n'a pas encore publié d'article !</p>
      </div>
      {{/if}}
    </div>

    <hr>

  </div> <!-- /container -->
</main>